/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-light: #231F20;
  --basic-grey: #333333;
  --basic-grey-light: #F2F2F2;
  --basic-grey-medium: #666666;
  --basic-grey-dark: #EEEEEE;
  --basic-white: #FFFFFF;
  --basic-white-light: rgba(255, 255, 255, 0.9);
  --basic-brown-light: #766357;
  --basic-brown: #604E43;
  --basic-brown-dark: #503E33;
  --basic-blue: #81B3D2;
  --basic-blue-dark: #669EC0;
  --basic-blue-extra-dark: #5496BD;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-image: url("#");
  background-position: top center;
  background-repeat: no-repeat;
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*для грида*/
.main-header {
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.main-header-logo {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  grid-column: 3 / 4;
  z-index: 1;
}


/* main navigation*/

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;

}

.site-navigation {
  list-style: none;
  font-weight: 700;
  outline: 5px solid rgba(0, 0, 255, 0.3);
  outline-offset: -5px;
  grid-column: 1 / -1;
}

.site-navigation a {
  color: var(--basic-black);
}

/* Features */
.features h2 {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.features-list li:first-child {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.features-list li:nth-child(2) {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.features-list li:last-child,
.features-list li:nth-child(3),
.features-list li:nth-child(4) {
  background-color: var(--basic-grey-dark);
}


/* Recommendations */

.recommendations-list {
  list-style: none;
}

.recommendations-item {
  text-align: center;
}

.recommendations-item h3 {
  font-size: 21px;
  line-height: 21px;
}

/* find-hotel*/
.find {
  line-height: 24px;
  text-align: center;
}

.find h3 {
  font-size: 30px;
  font-weight: 700;
}

.find-form {
  font-size: 21px;
  font-weight: 700;
}

.find-hotel,
.hotel-book {
  background-color: var(--basic-brown-light);
}

.button-search,
.hotel-info {
  background-color: var(--basic-blue);
}

.find-hotel,
.button-search,
.hotel-book,
.hotel-info {
  color: var(--basic-white);
}

/*Hotels*/
/*search-results-sorting*/
.found {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: 700;
}

.sorting-item {
  font-size: 12px;
  line-height: 18px;
  color: inherit;
  font-weight: 400;
}

.sorting-list {
  list-style: none;
}

.hotel-item {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: 700;
}

.hotels-list {
  list-style: none;
}

.hotels-list p {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-grey);
}

.hotel-rating {
  color: var(--basic-grey-medium);
  background-color: var(--basic-grey-light);
}


/* Footer */

.page-footer {
  background-color: var(--basic-white-light);
  text-align: center;
}

.footer-phone {
  font-weight: 700;
}

.footer-phone a,
.footer-copyright a {
  color: var(--basic-black);
}

.footer-social-list {
  list-style: none;
}

.footer-social-list a {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

/*User navigation*/
.site-navigation a:hover,
.site-navigation a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus,
.hotel-item:hover,
.hotel-item:focus,
.sorting-item:hover,
.sorting-item:focus {
  color: var(--basic-blue);
}

.site-navigation a:active,
.footer-copyright a:active {
  color: var(--basic-grey-light);
}

.sorting-item:active {
  color: var(--basic-black);
}

.find-hotel:hover,
.find-hotel:focus,
.hotel-book:focus,
.hotel-book:hover {
  background-color: var(--basic-brown);
}

/*hotel-book:active?*/
.find-hotel:active {
  background-color: var(--basic-brown-dark);
}

.footer-social-list a:hover,
.footer-social-list a:focus,
.button-search:hover,
.button-search:focus,
.hotel-info:hover,
.hotel-info:focus {
  background-color: var(--basic-blue-dark);
}

.footer-social-list a:active,
.button-search:active,
.hotel-info:active {
  background-color: var(--basic-blue-extra-dark);
}

