/*Variables*/

:root {
  --basic-black: #000000;
  --basic-black-light: #231F20;
  --basic-grey: #333333;
  --basic-grey-medium-dark: #CACACA;
  --basic-grey-special: #E5E5E5;
  --basic-grey-normal: #EBEBEB;
  --basic-grey-light: #F2F2F2;
  --basic-grey-medium: #666666;
  --basic-grey-dark: #EEEEEE;
  --basic-grey-dark-light: #A9A9A9;
  --basic-grey-range: #ABABAB;
  --basic-grey-copyright: #BDBBBC;
  --basic-grey-backgroud: #888888;
  --basic-white: #FFFFFF;
  --basic-white-light: rgba(255, 255, 255, 0.9);
  --basic-brown-light: #766357;
  --basic-brown: #604E43;
  --basic-brown-dark: #503E33;
  --basic-blue: #81B3D2;
  --basic-blue-dark: #669EC0;
  --basic-blue-extra-dark: #5496BD;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-image: url("#");
  background-position: top center;
  background-repeat: no-repeat;
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  position: relative;
  background-color: var(--basic-grey-light);
}

/* main navigation*/

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.site-navigation {
  list-style: none;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 15px 70px;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  padding-left: 30px;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
  text-align: right;
}

.site-navigation li:nth-child(3) {
  padding-right: 30px;
}

.site-navigation li {
  width: 200px;
}

.site-navigation li:nth-child(3n) {
  margin-left: auto;
}

.site-navigation a {
  color: var(--basic-black);
}

/*background-image*/

.background-image-index {
  position: relative;
  height: 509px;
  width: 1200px;
  background-color: var(--basic-blue-dark);
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.background-image-index::after {
  content: "";
  position: absolute;
  left: 0;
  top: 453px;
  width: 1200px;
  height: 56px;
  background-image: url("../img/decorative-picture.png")
}

.welcome-photo img {
  position: absolute;
  left: 31%;
  top: 15%;
}

/*Container*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* Features */

.features {
  margin-top: 43px;
  margin-bottom: 50px;
}

.features h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
}

.features h2 {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.reason1 {
  width: 1200px;
  max-height: 256px;
  display: flex;
}

.reason2 {
  width: 1200px;
  max-height: 256px;
  display: flex;
  flex-direction: row-reverse;
}

.numeral {
  margin: 0;
  padding: 4px 0;
}

.option {
  margin: 0;
  padding-top: 17px;
}

.features-list-gray {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px;
  background-color: var(--basic-grey-dark);
}

.features-list-gray li {
  padding: 30px 0 50px;
}

.feature-item {
  text-align: center;
}

.text {
  padding: 30px 50px 20px;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.features-list div:first-child {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.features-list div:nth-child(2) {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.features-list-gray li:first-child,
.features-list-gray li:nth-child(2),
.features-list-gray li:nth-child(3) {
  background-color: var(--basic-grey-dark);
}

/* Recommendations */

.recommendations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 330px;
  text-align: center;
  width: 1200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.recommendations-item h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding-top: 23px;
  padding-bottom: 25px;
}

.recommendations .option {
  padding-top: 2px;
}

.recommendations-item {
  vertical-align: bottom;
  background-color: var(--basic-white);
  color: var(--basic-grey);
  padding: 60px 0 50px;
}

.recommendations-item:last-of-type {
  padding: 55px 0 50px;
}

/* find-hotel*/

.find {
  line-height: 24px;
  text-align: center;
  height: 263px;
  position: relative;
}

.find h3 {
  font-size: 30px;
  font-weight: 700;
  padding-top: 31px;
}

.find-open-form {
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  bottom: 30px;
  left: 316px;
}

.find-hotel {
  padding: 30px 140px;
}

.find-hotel,
.hotel-book {
  background-color: var(--basic-brown-light);
}

.button-search,
.hotel-info {
  background-color: var(--basic-blue);
}

.find-hotel,
.button-search,
.hotel-book,
.hotel-info {
  color: var(--basic-white);
}

/*Filters*/

.filters {
  background-color: var(--basic-blue-extra-dark);
  background-image: url("../img/background-catalog.jpg");
  background-repeat: no-repeat;
  color: var(--basic-white);
  height: 215px;
  display: flex;
  padding: 0 72px;
}

.filter-form {
  display: flex;
}

.filter-form ul {
  padding-left: 15px;
}

.filter-form fieldset {
  padding: 0;
  margin-left: 0;
  /*margin-right: 119px;*/
  border: none;
}

.filter-checkbox1 {
  margin-right: 119px;
}

.filter-checkbox2 {
  margin-right: 350px;
}

.filter-form legend {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 25px;
}

.filter-form ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  padding-left: 40px;
}

.filter-option {
  margin: 24px 0;
}

.filter-input-checkbox:not(:checked):disabled + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 27px;
  height: 24px;
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:disabled + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -42px;
  width: 27px;
  height: 24px;
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-option:last-child {
  padding-bottom: 0;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 27px;
  height: 24px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -42px;
  width: 27px;
  height: 24px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Range*/

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

.range-filter {
  width: 320px;
  /*margin-top: ;*/
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  padding-top: 25px;
  padding-bottom: 10px;
}

.range-controls {
  position: relative;
  padding-bottom: 30px;
  padding-top: 20px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-grey-range);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-grey-range);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--basic-grey-range);
  cursor: pointer;
}

.toggle:hover {
  transform: scale(1.2);
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 248px;
}

.price-controls {
  border: 2px solid var(--basic-white);
  border-radius: 3%;
  padding: 5px 2px;
}

.price-controls:after {
  content: "";
  position: absolute;
  left: 159px;
  top: 65px;
  height: 22px;
  width: 2px;
  background-color: var(--basic-white);
}

.price-controls label {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
}

.price-controls input {
  width: 46px;
  border: none;
  background-color: transparent;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  margin-right: 22px;
  text-transform: uppercase;
}

.filters-button {
  background-color: transparent;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 3%;
  text-transform: inherit;
  font-size: 14px;
  line-height: 21px;
  margin: 5px 83px;
  padding: 6px 34px;
}

.min-price {
  padding-left: 62px;
}

.max-price {
  padding-left: 50px;
}

/*Hotels*/

.search-results-sorting {
  display: flex;
  margin: 10px 10px 15px 70px;
  position: relative;
}

.found {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: 700;
  min-height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 2px;
}

.sorting-item {
  font-size: 12px;
  line-height: 18px;
  color: inherit;
  font-weight: 400;
  border-bottom: 2px dotted var(--basic-blue);
}

.sorting-item-active {
  color: var(--basic-blue);
  border: none;
}

.sorting-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.sorting-list li {
  padding: 7px 16px;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  padding-left: 48px;
  padding-right: 25px;
  padding-top: 10px;
}

.sorting-indicator {
  position: absolute;
  display: flex;
  font-size: 0;
  top: 26px;
  right: 57px;
}

.sorting-indicator a {
  padding: 6px;
  font-size: 11px;
  line-height: 1px;
}

.hotel-item {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: 700;
}

.hotels-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hotel-kind {
  display: grid;
  grid-template-columns: 115px 96px;
}

.hotel-kind p {
  margin: 0;
}

.hotels-list-image {
  width: 135px;
  height: 90px;
  padding-right: 30px;
  padding-left: 3px;
  padding-top: 5px;
}

.hotels-list-info {
  display: grid;
  grid-template-rows: 31px 31px 38px;
  margin-left: 0;
  padding-top: 0;
}

.hotels-list li {
  display: flex;
  border-top: 1px solid var(--basic-grey-special);
  padding: 25px 30px 30px 70px;
  height: 95px;
  position: relative;
}

.hotels-list:last-child {
  border-bottom: 1px solid var(--basic-grey-special);
}

.button-hotel {
  height: 27px;
  width: auto;
  display: flex;
  padding-top: 5px;
}

.hotel-info a {
  padding: 5px 10px;
}

.button-hotel a {
  font-weight: 700;
  padding: 4px 17px;
  margin-right: 5px;
}

.hotels-list p {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-grey);
  margin-top: 0;
}

.hotels-list h3 {
  margin: 0;
  padding-top: 1px;
  font-size: 21px;
}

.hotel-rating {
  color: var(--basic-grey-medium);
  background-color: var(--basic-grey-light);
  align-self: flex-end;
  padding: 3px 14px;
  position: absolute;
  bottom: 15px;
  right: 71px;
}

/* star */

.rating-start {
  display: flex;
  position: absolute;
  top: 25px;
  right: 67px;
  font-size: 0;
}

.rating-start li {
  padding: 3px;
  width: 19px;
  height: 17px;
  border: none;
}

.star {
  background-image: url("../img/star-rating.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Footer */

.page-footer {
  background-color: var(--basic-white-light);
  text-align: center;
  display: flex;
  justify-content: space-around;
  min-height: 120px;
}

.footer-phone {
  font-weight: 700;
  width: 265px;
  height: 72px;
  margin: 0;
  justify-self: flex-start;
  align-self: center;
}

.footer-phone h2 {
  margin: 0;
  padding-bottom: 15px;
  padding-left: 37px;
}

.footer-tel {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding-left: 33px;
}

.footer-copyright {
  line-height: 26px;
  width: 245px;
  height: 85px;
  padding-top: 21px;
  margin: 0;
  text-align: left;
  justify-self: flex-end;
  display: flex;
  align-items: center;
}

.footer-copyright a {
  padding-left: 8px;
}

.footer-phone a,
.footer-copyright a {
  color: var(--basic-black);
}

.footer-social-list {
  list-style: none;
  justify-self: center;
  width: 166px;
  padding: 0;
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-list a {
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  margin-right: 6px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.footer-index {
  position: relative;
  margin-top: -126px;
}

/*User navigation*/

.site-navigation a:hover,
.site-navigation a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus,
.hotel-item:hover,
.hotel-item:focus,
.sorting-item:hover,
.sorting-item:focus {
  color: var(--basic-blue);
}

.footer-copyright:hover path {
  fill: var(--basic-blue);
}

.footer-copyright:focus path {
  fill: var(--basic-grey-copyright);
}

.site-navigation a:active,
.footer-copyright a:active {
  color: var(--basic-grey-light);
}

.sorting-item:active {
  color: var(--basic-black);
}

.find-hotel:hover,
.find-hotel:focus,
.hotel-book:focus,
.hotel-book:hover {
  background-color: var(--basic-brown);
}

.find-hotel:active {
  background-color: var(--basic-brown-dark);
}

.button-found:hover,
.social-button:focus,
.button-search:hover,
.button-search:focus,
.hotel-info:hover,
.hotel-info:focus {
  background-color: var(--basic-blue-dark);
}

.button-found:focus,
.social-button:focus {
  background-color: var(--basic-blue-dark);
}

.social-button:hover {
  background-color: var(--basic-blue-extra-dark);
}

.social-button:hover path {
  opacity: 0.3;
}

.footer-social-list a:active,
.button-search:active,
.hotel-info:active {
  background-color: var(--basic-blue-extra-dark);
}

.site-navigation .active-site-nav {
  color: var(--basic-brown-light);
}

.filters-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.icon-up:focus path,
.icon-down:focus path {
  fill: var(--basic-black);
}

.icon-up:hover path,
.icon-down:hover path,
.active-icon path {
  fill: var(--basic-blue);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Modal*/

.modal {
  position: absolute;
  top: 263px;
  left: 315px;
  width: 459px;
  height: 285px;
  padding: 50px 55px 60px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.button-found {
  position: absolute;
  bottom: 54px;
  left: 56px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  padding: 17px 196px;
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  cursor: pointer;
}

.find-hotel-form {
  width: 467px;
  margin: 0;
  display: grid;
  grid-template-rows: 67px 67px
}

.find-form-item {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  display: grid;
  grid-template-columns: 113px 352px;
}

.find-form-item label {
  text-align: left;
  padding-top: 12px;
}

.find-form-item input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-grey-light);
  width: 330px;
  height: 38px;
  padding-left: 13px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
}

.find-form-item input:hover,
.find-form-item-amount input:hover {
  background-color: var(--basic-grey-normal);
}

.find-form-item input:focus,
.find-form-item-amount input:focus {
  background-color: var(--basic-white);
  outline: 1px solid var(--basic-grey-special);
}

.amount-of-people {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 458px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
}

.amount-of-people button {
  width: 36px;
  height: 37px;
  cursor: pointer;
  background-color: var(--basic-grey-light);
}

.find-form-item-amount {
  margin: 0;
  padding-top: 6px;
  display: flex;
}

.find-form-item-amount input {
  color: var(--basic-black);
  background-color: var(--basic-grey-light);
  width: 38px;
  height: 35px;
  font-weight: 700;
  text-align: center;
  border: none;
  cursor: pointer;
}

.amount-of-grown {
  padding-right: 41px;
  padding-top: 5px;
}

.amount-of-children {
  padding-right: 23px;
  padding-top: 5px;
}

.calendar-departure {
  position: absolute;
  top: 62px;
  right: 64px;
}

.calendar-arrival {
  position: absolute;
  top: 129px;
  right: 64px;
}

.calendar-arrival:hover path,
.calendar-departure:hover path {
  fill: var(--basic-black);
  cursor: pointer;
}

.calendar-arrival:active path,
.calendar-departure:active path {
  fill: var(--basic-blue);
}

/*Button plus minus*/

.plus-grow {
  width: 25px;
  height: 34px;
  border: none;
  cursor: pointer;
}

.minus-grow {
  width: 25px;
  height: 34px;
  border: none;
  cursor: pointer;
}

.plus-children {
  width: 25px;
  height: 34px;
  border: none;
  cursor: pointer;
}

.minus-children {
  width: 25px;
  height: 34px;
  border: none;
  cursor: pointer;
}

.minus-grow svg {
  position: absolute;
  top: 51%;
  left: 126px;
}

.minus-children svg {
  position: absolute;
  top: 51%;
  right: 86px;
}

.plus-grow svg {
  position: absolute;
  top: 43%;
  left: 202px;
}

.plus-children svg {
  position: absolute;
  top: 43%;
  right: 13px;
}

.minus-grow:hover rect,
.minus-children:hover rect,
.plus-children:hover path,
.plus-grow:hover path {
  fill: var(--basic-black);
}

.minus-grow:focus rect,
.minus-children:focus rect,
.plus-children:focus path,
.plus-grow:focus path {
  fill: var(--basic-blue);
}

/*Убрать стрелочки*/

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*Map*/

.map iframe {
  border: none;
}

.shadow {
  background-color: var(--basic-white);
  box-shadow: 0 0 20px 5px var(--basic-grey-special);
}
