/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-light: #231F20;
  --basic-grey: #333333;
  --basic-grey-special: #E5E5E5;
  --basic-grey-light: #F2F2F2;
  --basic-grey-medium: #666666;
  --basic-grey-dark: #EEEEEE;
  --basic-white: #FFFFFF;
  --basic-white-light: rgba(255, 255, 255, 0.9);
  --basic-brown-light: #766357;
  --basic-brown: #604E43;
  --basic-brown-dark: #503E33;
  --basic-blue: #81B3D2;
  --basic-blue-dark: #669EC0;
  --basic-blue-extra-dark: #5496BD;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-image: url("#");
  background-position: top center;
  background-repeat: no-repeat;
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* main navigation*/

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -60px;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.site-navigation {
  list-style: none;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}

.site-navigation li {
  width: 200px;
  text-align: center;
}

.site-navigation li:nth-child(3n) {
  margin-left: auto;
}


.site-navigation a {
  color: var(--basic-black);
}

/*background-image*/
/*
.background-image-index {
  background-image:
    url("img/welcome.png");
  background-position: center;
  background-repeat: no-repeat;
}*/

/*Container*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* Features */

.features h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.features h2 {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.reason1 {
  width: 1200px;
  display: flex;
}

/*flex-grow?flex-shrink?*/

.reason2 {
  width: 1200px;
  display: flex;
  flex-direction: row-reverse;
}

.features-list-gray {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px;
}

.feature-item {
  text-align: center;
}


.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.features-list div:first-child {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.features-list div:nth-child(2) {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.features-list-gray li:first-child,
.features-list-gray li:nth-child(2),
.features-list-gray li:nth-child(3) {
  background-color: var(--basic-grey-dark);
}

/* Recommendations */

.recommendations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 256px;
  text-align: center;
  width: 1200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.recommendations-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.recommendations-item {
  vertical-align: bottom;
  background-color: var(--basic-white);
  color: var(--basic-grey);
}


/* find-hotel*/
.find {
  line-height: 24px;
  text-align: center;
}

.find h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 50px;
}

.find-form {
  font-size: 21px;
  font-weight: 700;
}

.find-hotel,
.hotel-book {
  background-color: var(--basic-brown-light);
}

.button-search,
.hotel-info {
  background-color: var(--basic-blue);
}

.find-hotel,
.button-search,
.hotel-book,
.hotel-info {
  color: var(--basic-white);
}

/*Hotels*/
.search-results-sorting {
  display: flex;
  margin: 10px 10px 10px 70px;
}

.found {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: 700;
  min-height: 30px;
}

.sorting-item {
  font-size: 12px;
  line-height: 18px;
  color: inherit;
  font-weight: 400;
}

.sorting-list {
  list-style: none;
  display: flex;
}

.sorting-list li {
  padding: 10px 15px;
}

.sorting {
  padding-left: 30px;
  padding-top: 10px;
}

.hotel-item {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: 700;
}


.hotels-list {
  list-style: none;
}

.hotels-list li:first-child {
  display: flex;
}

.hotels-list li:nth-child(2) {
  display: flex;
}

.hotels-list li:last-child {
  display: flex;
}

.hotel-kind {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hotels-list-image {
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.hotels-list-info {
  display: grid;
  grid-template-rows: 30px 30px 30px;
  margin-left: 0;
  padding-top: 0;
}

.hotels-list li {
  border-top: 1px solid var(--basic-grey-special);
  padding: 30px;
  height: 90px;
  min-height: 90px;
}

.hotels-list:last-child {
  border-bottom: 1px solid var(--basic-grey-special);
}

.button-hotel {
  height: 27px;
  width: auto;
  display: flex;
  display: block;
}

.button-hotel a {
  padding: 5px 10px;
}

.hotels-list p {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-grey);
  margin-top: 0;
}

.hotels-list h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.hotel-rating {
  color: var(--basic-grey-medium);
  background-color: var(--basic-grey-light);
  align-self: flex-end;
  margin-left: auto;
  padding: 5px 15px;
}

/* Footer */

.page-footer {
  background-color: var(--basic-white-light);
  text-align: center;
  display: flex;
  justify-content: space-around;
}


.footer-phone {
  font-weight: 700;
}

.footer-phone a,
.footer-copyright a {
  color: var(--basic-black);
}

.footer-social-list {
  list-style: none;
}

.footer-social-list a {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

/*User navigation*/
.site-navigation a:hover,
.site-navigation a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus,
.hotel-item:hover,
.hotel-item:focus,
.sorting-item:hover,
.sorting-item:focus {
  color: var(--basic-blue);
}

.site-navigation a:active,
.footer-copyright a:active {
  color: var(--basic-grey-light);
}

.sorting-item:active {
  color: var(--basic-black);
}

.find-hotel:hover,
.find-hotel:focus,
.hotel-book:focus,
.hotel-book:hover {
  background-color: var(--basic-brown);
}

/*hotel-book:active?*/
.find-hotel:active {
  background-color: var(--basic-brown-dark);
}

.footer-social-list a:hover,
.footer-social-list a:focus,
.button-search:hover,
.button-search:focus,
.hotel-info:hover,
.hotel-info:focus {
  background-color: var(--basic-blue-dark);
}

.footer-social-list a:active,
.button-search:active,
.hotel-info:active {
  background-color: var(--basic-blue-extra-dark);
}

